<template>
    <div class="container">
        <!-- /.row -->
        <div class="row mt-2">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Users List</h3>

                <div class="card-tools">
                  <button class="btn btn-success" @click="newModal"><i class="fas fa-user-plus">  </i> Add New</button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Registered At</th>
                    <th>Actions</th>
                  </tr>
                  <tr v-for="user in users" :key="user.id">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name | upText }}</td>
                    <td>{{ user.email }}</td>
                    <td><span class="tag tag-success">Approved</span></td>
                    <td>{{ user.created_at | myDate }}</td>
                    <td>
                        <a href="#" @click="editModal(user)">
                            <i class="fa fa-edit btn btn-primary btn-sm"></i>
                        </a>
                        <a href="#" @click="deleteUser(user.id)">
                            <i class="fa fa-trash  btn btn-danger btn-sm"></i>
                        </a>
                    </td>
                  </tr>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div><!-- /.row -->
    
        <!-- Modal -->
<div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update User</h5>
        <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form @submit.prevent="editmode ? updateUser() : createUser()">
        <div class="modal-body">
        
            <div class="form-group">
                <input v-model="form.name" type="text" name="name" placeholder="Name"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                <has-error :form="form" field="name"></has-error>
            </div>

            <div class="form-group">
                <input v-model="form.email" type="email" name="email" placeholder="Email"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                <has-error :form="form" field="email"></has-error>
            </div>

            <div class="form-group">
                <textarea v-model="form.bio" type="text" name="bio" id="bio" placeholder="Short bio for user (Optional)" class="form-control" :class="{ 'is-invalid': form.errors.has('bio') }"></textarea>
                <has-error :form="form" field="bio"></has-error>
            </div>

            <div class="form-group">
                <input v-model="form.password" type="password" name="password" placeholder="Password"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                <has-error :form="form" field="password"></has-error>
            </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
        <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
      </div>
        </form>    
    </div>
  </div>
</div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
              editmode: true,
              users: {},
              form: new Form({
                  id: '',
                  name: '',
                  email: '',
                  password: '',
                  bio: '',
                  photo: '',
              })
            }
        },
        methods: {
          updateUser() {
            this.$Progress.start();
            this.form.put('api/user/'+this.form.id)
            .then(() => {
              $('#addNew').modal('hide');
                Swal(
                  'Updated!',
                  'Your file has been updated.',
                  'success'
                )
                this.$Progress.finish();
                Fire.$emit('Refresh');  
            })
            .catch(() => {
              this.$Progress.fail();
            });
          },
          editModal(user) {
            this.editmode = true;
            this.form.reset();
            $('#addNew').modal('show');
            this.form.fill(user);
          },
          newModal() {
            this.editmode = false;
            this.form.reset();
            $('#addNew').modal('show')
          },
            deleteUser(id) {
              Swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                
                // Send request to the server
                if (result.value) {
                    this.$Progress.start();
                    this.form.delete('api/user/'+id).then(()=>{
                              Swal(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                              )
                              Fire.$emit('Refresh');  
                              this.$Progress.finish()
                    }).catch(() => {
                      Swal('Failed!', 'There was spmething wronge.', 'warning');
                    });
                }

              })    
            },
            loadUsers(){
              axios.get("api/user").then(({data}) => (this.users = data.data));
            },
           
            createUser() {
                this.$Progress.start();

                this.form.post('api/user')
                .then(() => {
                    Fire.$emit('Refresh');
                    $('#addNew').modal('hide')
                    toast({
                      type: 'success',
                      title: 'User created successfully'
                    })
                    this.$Progress.finish()
                })
                .catch(() => {

                })            
            },
        },
        created() {
            this.loadUsers();
            Fire.$on('Refresh', () => {
              this.loadUsers();
            });
        }
    }
</script>